.store {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards1 {
    /* z-index: -1; */
    height: 500px;
    white-space: nowrap;
    /* cursor: pointer; */
    background-color: #fff;
    /* background-color: transparent; */
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    border-color: transparent;
    white-space: normal;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.Title {
    padding-top: 30px;
    padding-bottom: 16px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #1d1d1f;
    margin: 0 0 9px;
    padding-top: 24px;
}



.buybutton {
    /* float: right; */
    /* text-align: center; */
    /* display: inline-block; */
    /* cursor: pointer; */
    /* white-space: nowrap; */
    font-size: 17px;
    /* min-width: auto; */
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 28px;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
}

.cardp {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #1d1d1f;
    white-space: normal;
}

.Store-Title-1{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    
}

.Store-Title-2{
    font-size: 45px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    color: #6e6e73;
}

.store-title-container{
    margin-top: 7%;
    /* text-align: left; */
    white-space: nowrap;
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
}

.st-container-right-h4{
    font-size: 14px;
    line-height: 1.42859;
    letter-spacing: -.016em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding-top: 0;
}

.st-container-right-h4 a{
    background: transparent;
    border: 0;
    /* letter-spacing: .016em; */
    letter-spacing: inherit;
    color: #06c;
    font-size: inherit;
    line-height: inherit;
    /* font-weight: inherit; */
    padding: 0;
    vertical-align: inherit;
    cursor: pointer;
}
.st-container-right-h4 a:hover{
    color: #0071e3;
    text-decoration: underline;
}

.header-title-icons li{
    /* display: inline-block; */
    margin-top: 7%;
    margin-right: 50px;
}

.header-title-a{
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 500;
    letter-spacing: -.016em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: block;
    color: #1d1d1f;
    text-align: center;
    white-space: nowrap;
}

.products-titles-1{
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.products-titles-span{
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    color: #86868c;
}





