body {
    /* background-color: orange; */
    background-color: #fffcfc;
}


.mair-image {
    background-image: url(https://i.hizliresim.com/cr2mw2a.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
    background-size: 110% 105%;
    /* margin-top: -400px; */
    /* left: calc(0% + 0px); */
    transform: translatex(-10%);
    position: relative;
}

a:link,
a:visited,
.link:link,
.link:visited {
    text-decoration: none;
}

.posmac {
    margin-top: 200px;
    margin-left: 200px;
    position: absolute;
}

.headline {
    margin-top: 10%;
    top: 300px;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    pointer-events: none;
}


.logo-image-macbook-air-logo-hero-macbookair {
    background-image: url(https://www.apple.com/tr/home/images/logos/macbook-air/logo_hero_macbookair__edl9uovq56wm_largetall_2x.png);
    height: 41px;
    background-size: 194px 41px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
}



.cta-links {
    /* position: relative; */
    z-index: 4;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0.65em;
}

.cta-links .icon::after {
    line-height: inherit;
}


.cta-links a:hover {
    color: rgb(8, 120, 232);
    text-decoration: underline;
}



.WATCH {
    height: 72px;
    background-size: 188px 72px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ap/images/logos/watch-series-7/hero_logo_watch_lte__fy5faj6xg7m2_largetall_2x.png);
    background-position: center;

}

.watch-text {
    text-align: center;
font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 15px;
    color: #1d1d1f;
}

.watch-text-p{
text-align: center;
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
letter-spacing: .03em;
}



.watch-image{
    background-image: url(https://www.apple.com/tr/home/images/heroes/watch-series-7/hero__dvsxv8smkkgi_largetall_2x.jpg);
    background-repeat: no-repeat;
    position: relative;
    transform: translatey(-30%);
    width: 100%;
    height: 736px;
    background-size: 250% 736px;
    background-repeat: no-repeat;
    left: calc(0%);
    z-index: -1;
    background-position: center; 
}

/* .watch-image{
    background-image: url(https://www.apple.com/tr/home/images/heroes/watch-series-7/hero__dvsxv8smkkgi_largetall_2x.jpg);
    background-repeat: no-repeat;
    position: relative;
    transform: translatey(-30%);
    width: 150%;
    height: 736px;
    background-size: 3000px 736px;
    background-repeat: no-repeat;
    left: calc(-65%);
    z-index: -1;
    mask-size: 30%;
} */



.section3{
    color: #ca2166;
}

.headlineuni{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
    white-space: nowrap;
    margin-top: -100px;
}

.subheadsection3{
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    color: #1d1d1f;
    text-align: center;
    display: block;
}

.uni-image{
    background-image: url(https://www.apple.com/tr/home/images/heroes/back-to-school-2022/hero_bts_alt__cbvhgv9ay03m_largetall_2x.jpg);
    background-repeat: no-repeat;
    position: absolute;
    transform: translatey(-30%);
    width: 100%;
    height: 736px;
    background-size: 150% 736px;
    background-repeat: no-repeat;
    left: calc(0%);
    z-index: -1;
    background-position: center;
}
